<!DOCTYPE html>
<html >
  <head>
    {% include "header.html" %}
  </head>
  <body>
    {% include "nav.html" %}
    <div id="container" class="content-wrapper container">
      <div class="row">
        <div class="span2">
          {% block leftsidebar %}
          {% include "leftsidebar.html" %}
          {% end %}
        </div>
        <div class="span10">
          {% block pagehead %}{% end %}
          {% block content %}
          <div class="row">
            <div class="span8">
              {% block main %}{% end %}
            </div>
            <div class="span2">
              {% block rightsidebar %}{% end %}
            </div>
          </div>
          {% end %}
        </div>
      </div>
    </div>
    {% include "footer.html" %}
  </body>
</html>
