{% extends "base.html" %}

{% block header %}
<script src="/static/js/jquery-tmpl.js"></script>
<script src="/static/js/nice-time.js"></script>
{% end %}

{% block bodyattr %} class="board-{{ board.boardname }}" data-boardname="{{ board.boardname }}"{% end %}

{% block main %}
<div id="board-head" class="row-fluid">
  <div id="board-head-inner">
    <h1>{{ board.description }} <small>{{ board.boardname }}</small></h1>
  </div>
</div>
<div id="board-body">
  <div id="board-body-inner" class="row-fluid">
    <div id="primary" class="span9">
      <div id="input-submit-title">
        <form id="input-form" class="form-inline">
          <input type="text" class="input-xlarge" id="input-cmd"
                 tabindex="1" placeholder="说点什么..."/>
          <button id="input-submit" tabindex="2" 
                  class="btn btn-small btn-success">发表话题</button>
          <div id="board-hint">
            有问题？<a href="#"> 写信给版主 </a> 或者 <a href="#"> 寻找帮助 </a>
          </div>
        </form>
      </div>
      <div id="board-list">
        <ul id="board-list-nav" class="nav nav-tabs">
          <li id="set-default-loader"><a>讨论</a></li>
          <li id="set-t-loader" ><a>主题</a></li>
          <li id="set-g-loader" ><a>文摘</a></li>
          <li id="set-m-loader"><a>美文</a></li>
        </ul>
        <p id="post-counter"></p>
        <div id="board-content">
          <table id="board-content-inner">
            <tbody id="postlist-container">
              {% for li in posts %}
              {% end %}
            </tbody>
          </table>
          <ul id="boardlist-nav">
            <li id="go-first"><i class="arrow-up-bar"></i></li>
            <li id="go-prev"><i class="arrow-up"></i></li>
            <li id="go-next"><i class="arrow-down"></i></li>
            <li id="go-last"><i class="arrow-down-bar"></i></li>
          </ul>                    
        </div>
      </div>
    </div>

    <div id="second" class="span3">

      <div id="second-inner">

        <div class="widget">
          <h4>版块介绍</h4>
          <div class="widget-content">
            {{ board.about }}
            <div class="pull-right">
              <button class="book-btn btn btn-mini btn-info">收藏该版</button>
            </div>
          </div>
        </div>

        <div class="widget">
          <h4>版主公告</h4>
          <div class="widget-content">
            <ul class="unstyled">
              <li><a href="#">今天版聚</a>[2012-5-6]</li>
              <li><a href="#">发帖必读</a>[2012-5-6]</li>
              <li><a href="#">版友需知</a>[2012-5-6]</li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</div>
{% end %}
    
{% block script %}
<script id="post-item-tpl" type="text/x-jquery-tmpl">
  <tr>
    <td class="tb-img">
      <img src="/avatar/${owner}" />
    </td>
    <td class="tb-user">
      <a href="/user/${owner}">${owner}</a>
    </td>
    <td class="tb-title">
      <i class="${ (typeof read !='undefined')&&(read)?'read':'unread' }"></i>
      <a href="/post/${pid}">${title}</a>
    </td>
    <td class="tb-time">
      <time>${posttime}</time>
    </td> 
  </tr>
</script>

<script type="text/javascript">

      var g_tabler;
      var g_pagesize = 15;
      var g_length;

      function new_tabler(container, tpl){
          return {
              container : container,
              tpl : tpl,
              start : 0,
              loader : null,
          }
      }

      function set_tabler(tabler, start, data){
          tabler.start = start;
          tabler.container.empty();
          tabler.tpl.tmpl(data).appendTo(tabler.container);
          g_length = data.length
          /* */
          $('#post-counter').text(start+1);
          $('time').nicetime();
      }

      function g_load_and_set(tabler, start){
          tabler.loader(start, function(data){
              if((data.success)&&(data.content.length)){
                  set_tabler(tabler, start, data.content);
              }
              else{
                  if(data.content.length){
                      show_alert(data.content);
                  }
                  else{
                      show_alert('没有数据！');
                  }
              }                      
          });
      }

      var last;

      function g_init_table(tabler, start){
          tabler.loader(start, function(data){
              if((data.success)&&(data.content.length)){
                  last=data;
                  set_tabler(tabler, start, data.content);
              }
              else{
                  if(data.content.length){
                      tabler.container.text(data.content);
                  }
                  else{
                      tabler.container.text('没有数据！');
                  }
              }
          });
      }                        

      function g_set_loader(tabler, loader){
          tabler.loader = loader;
      }

      $(document).ready(function(){

          var boardname = $("body").attr('data-boardname');

          function get_url_loader(url){
              return function(start, callback){
                  $.get(url,
                        {
                            start: start,
                        },
                        callback);
              }
          }

          default_loader = get_url_loader('/api/get_posts/' + boardname);
          g_loader = get_url_loader('/api/get_posts_g/' + boardname);
          m_loader = get_url_loader('/api/get_posts_m/' + boardname);
          t_loader = get_url_loader('/api/get_posts_t/' + boardname);

          g_tabler = new_tabler($("#postlist-container"),
                                $("#post-item-tpl"));

          $("#go-prev").click(function(){
              if(g_tabler.start<g_pagesize){
                  show_alert('已经是第一页');
              }
              else{
                  g_load_and_set(g_tabler, g_tabler.start-g_pagesize);
              }
          });

          $("#go-next").click(function(){
              if(g_length!=g_pagesize){
                  show_alert('刷新本页中!');
                  g_load_and_set(g_tabler, g_tabler.start);
              }
              else{
                  g_load_and_set(g_tabler, g_tabler.start+g_pagesize);
              }              
          });
          
          $("#go-first").click(function(){
              if(g_tabler.start==0){
                  show_alert('已经是第一页了！');
              }
              else{
                  g_load_and_set(g_tabler, 0);
              }
          });

          function bind_clicker(selector, loader, tabler){
              $(selector).click(function(){
                  if($(selector).hasClass("active"))
                      return ;
                  $("#board-list-nav>li").removeClass("active");
                  $(selector).addClass("active");
                  g_set_loader(tabler, loader);
                  g_init_table(tabler, 0);
              });
          }

          bind_clicker("#set-default-loader", default_loader, g_tabler);
          bind_clicker("#set-t-loader", t_loader, g_tabler);
          bind_clicker("#set-g-loader", g_loader, g_tabler);
          bind_clicker("#set-m-loader", m_loader, g_tabler);

          $("#set-default-loader").click();

          $(".book-btn").click(function(){
              $.get("/api/book_board",
                    {
                        boardname: $("body").attr('data-boardname'),
                    },
                    function(data){
                        if(data.success){
                            show_alert(data.content, "success");
                        }
                        else{
                            show_alert(data.content, "danger");
                        }
                    });
          });
          
          $('#input-form').submit(function(event){
              submit(event);
              event.preventDefault();
          });

      });

      function submit(event){
          var boardname=$('body').attr('data-boardname');
          var title=$('#input-cmd').val();
          if(title){
              window.location = '/post/add/' + boardname
                  + '?title=' + title;
          }
          else{
              window.location = '/post/add/' + boardname;
          }
      }
               
</script>
{% end %}
