{% extends "base.html" %}

{% block header %}
<script src="/static/js/telnet.js"></script>
{% end %}

{% block main %}
<div id="user-page-wrapper" class="row-fluid">
  <div class="user-info span3 offset1">
    <img src="/avatar/{{ user.userid }}" />
    <h2>123456789012 (一二三四五六七八九)</h2>
    <div>
      发文 {{ user.numposts }} 篇
    </div>
    <hr/>
    <div>
      <button class="btn btn-mini btn-warning"> 写信问候 </button>
    </div>
  </div>
  <div class="user-text span7">
    <div class="format-telnet">{{ user.about }}</div>
    {% if user.job %}
    <h3>职业</h3>
    <div class="format-telnet">{{ user.job }}</div>
    {% end %}
    {% if user.contact %}
    <h3>联系方式</h3>
    <div class="format-telnet">{{ user.contact }}</div>
    {% end %}
    {% if user.marriage %}
    <h3>感情状况</h3>
    <div class="format-telnet">{{ user.marriage }}</div>
    {% end %}
  </div>
</div>
{% end %}

{% block script %}
<script>
    $(document).ready(function(){
        $('.format-telnet').telnet();
    });
</script>
{% end %}
    

  
    <div class="userinfo-box">
      <div class="userinfo-profile">
        <!-- <img src="/static/img/bgt.jpg"/>         -->
        <h2>{{ user.userid }} ({{ user.nickname }})</h2>
        <p>
          登录：<em>{{ user.numlogins }}</em>次，发文：<em>{{ user.numposts }}</em>篇，<br/>
          上次更新：<em>{{ user.lastupdate }}</em>
        </p>
      </div>
      <div class="userinfo-text">
        <div>
          {% raw escape(user.about).replace('\n', '<br/>\n') %}
        </div>
      </div>
    </div>
  </div>
