<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">逸仙时空</a>
    <div class="userbox pull-right">
      <ul class="nav">
        <li><a href="/user/">LTaoist</a></li>
        <li><a href="/mail"><i class="icon-inbox"></i></a></li>
        <li><a href="#"><i class="icon-bell"></i></a></li>            
        <li><a href="#"><i class="icon-user"></i></a></li>            
      </ul>
    </div>
    <div id="fixed-nav">
      <ul id="fav" class="unstyled">
        <li><a href="/"><i class="icon-home"></i></a></li>
        <li><a href="/board/Say/" title="Say 版没有新帖">Say</a></li>
        <li><a href="/board/Say/" title="Say 版没有新帖">News</a></li>
        <li><a href="/board/Say/" title="Say 版没有新帖">linux</a></li>
        <li><a href="/board/Say/" title="Say 版没有新帖">em</a></li>
        <li><a href="/board/test/" class="new" title="test 版有更新！">test</a></li>
      </ul>
      <a id="admin-book-link" href="/board/Say/">管理收藏夹</a>
    </div>
  </div>
</div>
